<div class="container body-content">
    <div class="row">
        <div class="col-md-12">
            <div class="page-title">
                Register
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 login-page-form register-form">
            <form>
                <h5>Register</h5>
                <div class="form-group">
                    <label for="txtFirstName">First Name:</label>
                    <input type="text" id="txtFirstName" name="txtFirstName" autocomplete="off" placeholder="First Name"
                        style="width:100%" />
                </div>
                <div class="form-group">
                    <label for="txtLastName">Last Name:</label>
                    <input type="text" id="txtLastName" name="txtLastName" autocomplete="off" placeholder="Last Name"
                        style="width:100%" />
                </div>
                <div class="form-group">
                    <label for="txtPhone">Phone:</label>
                    <input type="text" id="txtPhone" name="txtPhone" autocomplete="off" placeholder="Phone"
                        style="width:100%" />
                </div>
                <div class="form-group">
                    <label for="chk-opt-in">
                        <input type="checkbox" id="chk-opt-in" name="chk-opt-in" autocomplete="off" />
                        10 Msgs/Month. Reply STOP to cancel, HELP for help. Msg&data rates may apply. Terms: <a
                            href="http://slkt.io/Br1" target="_blank">slkt.io/Br1</a>
                    </label>

                </div>
                <div class="form-group">
                    <label for="txtRegisterEmail">Register Email:</label>
                    <input type="text" id="txtRegisterEmail" name="txtRegisterEmail" placeholder="Register Email"
                        autocomplete="off" style="width:100%" />
                </div>
                <div class="form-group">
                    <label for="txtRegisterPassword">Register Password:</label>
                    <input type="password" id="txtRegisterPassword" name="txtRegisterPassword"
                        placeholder="Register Password" autocomplete="off" style="width:100%" />
                </div>
                <div class="form-group">
                    <label for="txtConfirmPassword">Confirm Password:</label>
                    <input type="password" id="txtConfirmPassword" name="txtConfirmPassword"
                        placeholder="Confirm Password" autocomplete="off" style="width:100%" />
                </div>
                <div class="form-group" id="divother" style="display:none">
                    <label id="lblOtherMessage"></label>
                    <input name="OtherMessage" id="OtherMessage" class="form-control" placeholder="" type="text">
                </div>
                <div class="form-group">
                    <button type="button" id="btnRegister" class="btn btn-default">Register</button>

                </div>
                <div class="form-group">
                    <label>Already have an account? <a href="#" id="btnlogin" class="btn-link" style="color:blue;">Click
                            Login. </a></label>
                </div>
                <div class="form-group">
                    <span id="error" class="alert alert-danger" style="font-size:11px;display: none;"></span>
                </div>
            </form>
        </div>
    </div>
    <!-- <script src="/Scripts/jquery-1.10.2.js"></script>
<script src="/Scripts/app/register.js"></script> -->
</div>
<footer class="footer">
    <div class="container">

        <div class="col-sm-6 text-left">&copy; 2019 Ideal Meals . All rights reserved</div>
        <div class="col-sm-6 text-right"></div>
    </div>
</footer>