<nav class="navbar navbar-default navbar-static-top new-nav-links-back navbar-center">
    <div class="container">
        <h1>Customer Order Portal</h1>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" id="companyWebsitelinkId" href="http://www.idealmeals.com"><span class="logo-img"></span><span>Ideal Meals </span> </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false">
            <ul class="nav navbar-nav">
                    <li><a href="http://www.idealmeals.com">Home</a></li>
                    <li><a href="/Home/MyAccount">My Account</a></li>
                    <li><a href="/Home/LogIn">Cart</a></li>                        

                
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>