<div class="container body-content">
    <div class="row">
        <div class="col-md-12">
            <div class="page-title">
                Login
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 login-page-form">
            <form autocomplete="off">
                <h5>Enter your Email and Password</h5>
                <div class="form-group">
                    <label for="username">Email:</label>
                    <input type="text" id="username" name="username" autocomplete="off" tabindex="1" style="width:100%">
                </div>
                <div class="form-group">
                    <label for="userpassword">Password:</label>
                    <input type="password" id="userpassword" name="userpassword" tabindex="2" autocomplete="off" style="width:100%">
                    <span id="zip_error" class="alert alert-danger" style="display: none;margin-top:10px;padding:10px">Enter valid Zipcode</span>
                </div>
                <div class="text-right forgot-link"><a href="#" id="forgot_Password" class="btn-link"> Forgot Password </a></div>
                <div class="form-group two-btn-back">
                    <button type="button" id="btnLogin" tabindex="3" class="btn btn-default btnLoginWait">Login</button>
                    <button type="button" id="btnRegister" tabindex="4" class="btn btn-default" style="float:right">Register</button>                            
                </div>
                <div class="form-group">
                    <span id="error" class="alert alert-danger" style="display: none;margin-top:10px;padding:10px"></span>
                </div>
            </form>
        </div>
    </div>
    <!-- <script>
        //clear any previous order id as it is only set on the MyAccount.cshtml page and only after user clicks reorder
        localStorage.removeItem('reorder_cart_orderId');
    </script> -->
    <!-- <script src="/Scripts/jquery-1.10.2.js"></script>
    <script src="/Scripts/app/login.js"></script> -->
        </div>